<mat-drawer-container class="example-container">

  <mat-drawer 
    #drawer 
    [mode]="drawerControlService.drawerMode.getValue()" 
    [opened]="drawerControlService.drawerOpened.getValue()"
    (openedChange)="drawerControlService.drawerOpened.next($event)"
    >
    <div class="maya-card">
      <div class="sub-maya-card" (click)="redirectToNewConversation()">
        <span class="maya-span">Maya</span>
        <span class="maya-iniciar-conversa" title="Clique para falar com a Maya">{{mayaLogoText}}</span>
      </div>
      <mat-icon 
            class="close"
            (click)="drawerControlService.toggleDrawer()"
            *ngIf="drawerControlService.showMenuIcon.getValue()"
            >close</mat-icon>
    </div>

    <div class="drawer" *ngIf="!authService.isLoggedIn()">
      <div class="avatar-container">
        <img src="maya-ft.webp" alt="Avatar do usuário" class="avatar">
        <p class="welcome-message">Bem-vindo ao <span>Maya AI</span>!</p>
        <p class="welcome-desc">Bem-vindo à interface da Maya, a assistente virtual projetada para tornar suas interações digitais mais eficientes e personalizadas. Com a Maya, você tem acesso a uma inteligência artificial capaz de responder às suas perguntas de forma precisa e contextualizada, garantindo que suas dúvidas sejam esclarecidas rapidamente.</p>
        
        <button class="buttonLogin" type="button"
        *ngIf="drawerControlService.isAndroid.getValue()"
        (click)="redirectToLogin()"
        >Login</button>
      </div>
    </div>

    <div class="conversas-container" *ngFor="let conversationPreview of conversationsPreview">
      <app-card-conversa-preview 
        [conversationPreview]="conversationPreview"
        [isSelected]="conversationPreview.id === conversationsService.getSelectedConversationPreview()" 
        (cardClick)="onCardClick($event)"
        [attr.id]="conversationPreview.id === conversationsService.getSelectedConversationPreview() ? 'refSelectedPreview' : null"
        >
      </app-card-conversa-preview>
    </div>
  </mat-drawer>
  <mat-drawer-content class="router-content">
    <app-navbar></app-navbar> 
    <div class="topSpace">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>