<mat-drawer-container class="example-container">

    <mat-drawer mode="side" opened>
        <div class="maya-card" (click)="redirectToNewConversation()">
           <span class="maya-span">Maya AI</span>
           <span class="maya-iniciar-conversa">Iniciar nova conversa</span>
        </div>
        <div #scrollTopTarget></div>
        <div class="conversas-container" *ngFor="let conversaPreview of conversasPreview">
            <app-card-conversa-preview 
            [conversaPreview]="conversaPreview"
            [isSelected]="conversaPreview.id === selectedConversationId"
            (cardClick)="handleCardClick($event)">
            </app-card-conversa-preview>
        </div>
    </mat-drawer>
    <mat-drawer-content class="router-content">
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
