<mat-drawer-container class="example-container">

  <mat-drawer #drawer 
    [mode]="drawerControlService.drawerMode.getValue()" 
    [opened]="drawerControlService.drawerOpened.getValue()"
    (openedChange)="drawerControlService.drawerOpened.next($event)">
    
    <div class="maya-card">
      <div class="sub-maya-card" (click)="redirectToNewConversation()">
        <span class="maya-span">Maya</span>
        <span class="maya-iniciar-conversa">{{mayaLogoText}}</span>
      </div>
      <ng-icon class="close" *ngIf="drawerControlService.showMenuIcon.getValue()" (click)="drawerControlService.toggleDrawer()" name="ionCloseSharp"></ng-icon>
    </div>

    <div class="drawer" *ngIf="!authService.isLoggedIn()">
      <div class="avatar-container">
        <img src="maya-ft.webp" alt="Avatar do usuário" class="avatar">
        <p class="welcome-message">Bem-vindo ao <span>Maya AI</span>!</p>
      </div>
    </div>

    <div #scrollTopTarget></div>
    <div class="conversas-container" *ngFor="let conversaPreview of conversasPreview">
      <app-card-conversa-preview [conversaPreview]="conversaPreview"
        [isSelected]="conversaPreview.id === selectedConversationId" (cardClick)="handleCardClick($event)">
      </app-card-conversa-preview>
    </div>
  </mat-drawer>
  <mat-drawer-content class="router-content">
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>