<div 
    class="card-container" 
    [class.selected]="isSelected" 
    (click)="handleClick(conversationPreview?.id ?? '')"
    >
    <span 
        class="title" 
        [title]="conversationPreview?.title"
    >
    {{conversationPreview?.title}}
    </span>
    <div class="message-container">
        <span class="lastUserMessage">
            Você: {{conversationPreview?.lastUserMessage?.message}}
        </span>
        <span class="lastUserMessageCreateAt">
            {{ formatDate(conversationPreview?.lastUserMessage?.createdAt) }}
        </span>
    </div>
</div>
