<div class="login-container">

    <div class="menu-container" *ngIf="drawerControlService.showMenuIcon.getValue()">
        <ng-icon class="menu" (click)="drawerControlService.toggleDrawer()" name="ionMenu"></ng-icon>
    </div>
    <div class="login-box">
        <h2>Entre com seus dados</h2>
        <form [formGroup]="credencialsForm" (ngSubmit)="login()">
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username" placeholder="Insira seu username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" placeholder="Insira sua senha" required>

            <button type="submit">Login</button>
        </form>
        <div class="register-link">
            Não tem uma conta? <a (click)="redirectToRegister()">Registre-se</a>
        </div>
    </div>
</div>