/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow-x: hidden; }

::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem vertical */
    height: 8px; /* Altura da barra de rolagem horizontal */
  }
  
  /* Cor de fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor do trilho */
    border-radius: 10px;
  }
  
  /* Cor e estilo da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra */
    border-radius: 10px; /* Borda arredondada */
    border: 2px solid #f0f0f0; /* Espaçamento e contraste com o trilho */
  }
  
  /* Efeito ao passar o mouse sobre a barra de rolagem */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor ao passar o mouse */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
