.content{
    display: flex;
    flex-direction:column;
}

.card-container {
    padding: 0.5em 1em; /* Limita a largura máxima do card */
    word-wrap: break-word; /* Quebra palavras longas */
    clear: both;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para a logo */
    max-width: 80%;
  }
  
  .card-container.system {
    float: left;
    margin-right: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borda sutil */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-left: 3.5em;
}
  
  .card-container.user {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: 2.5em;
    float: right;
    border-style:inherit;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  .infos-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
  }

  .infos-container.system{
    color: #4A004A;
  }
  
  .card-message {
    font-size: 0.85em;
    word-wrap: break-word; /* Quebra palavras longas */
    word-break: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word; /* Quebra palavras longas */
    max-width: 95%;
  }

  .card-message p{
    word-wrap: break-word; /* Quebra palavras longas */
    word-break: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word;
    max-width: 100%;
    margin-left: 1em;
  }
  .card-message li{
    word-wrap: break-word; /* Quebra palavras longas */
    word-break: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word;
    max-width: 100%;
    text-align: start;
  }

  .card-date{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 0.5em;
  }
  .card-date span{
    font-size: 0.65em;
    color: #888;
  }
  
  .logo-container{
    position: relative;
    display: flex;
    top: 25px;
  }
  .logo-container.system{
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: 0.5em;
  }

  .logo-container.user{
    align-items:flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    overflow-x: hidden;
  }

  .container-system{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para a logo */
  }
  .container-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }

  .maya-logo {
    font-weight: bold;
    font-size: 0.8em;
    background: linear-gradient(45deg, purple, pink, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .copy-container{
    display: flex;
    justify-content: flex-end;
  }

  .copy-container mat-icon{
    cursor: pointer;
    font-size: 1.2em;
    transition: color 0.3s;
    padding-top: 5px;
  }

  .copy-container span{
    color: #28a745;
  }
  
  .copy-container mat-icon:hover {
    color: #000;
  }

  @media (max-width: 768px){
    .maya-logo {
      font-weight: bold;
      font-size: 0.6em;
      background: linear-gradient(45deg, purple, pink, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .container-system{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para a logo */
    }
    .container-user{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      margin-right: 0;
    }

    .content{
      display: flex;
      flex-direction:column;
      width: 95%;
      margin: auto;
  }

    .card-container {
      word-wrap: break-word; /* Quebra palavras longas */
      clear: both;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para a logo */
    }

    .card-container.system {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.1); /* Borda sutil */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
      max-width: 70%;
  }
    
    .card-container.user {
      background-color: #ffffff;
      border-style:inherit;
      border-top-left-radius: 13px;
      border-bottom-right-radius: 13px;
      border-bottom-left-radius: 13px;
      max-width: 70%;
    }

    .infos-container.system{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 0em 0.1em;
    }

    .card-date{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .logo-container{
      position: relative;
      display: flex;
      top: 25px;
    }
    .logo-container.system{
      align-items:flex-start;
      justify-content: flex-start;
    }
  
    .logo-container.user{
      align-items:flex-end;
      justify-content: flex-end;
      justify-items: flex-end;
      overflow-x: hidden;
    }

  }
