<div class="content">
    <app-navbar></app-navbar>
    
    <div class="summary">
        <p>Monitoramento do uso da ferramenta Maya: dados atualizados para decisões informadas e estratégicas.</p>
    </div>
    <div class="totalMessages">
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series || []"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels || {}"
              [plotOptions]="chartOptions.plotOptions || {}"
              [yaxis]="chartOptions.yaxis || {}"
              [xaxis]="chartOptions.xaxis || {}"
              [fill]="chartOptions.fill || {}"
              [title]="chartOptions.title || {}"
              #chart
            ></apx-chart>
          </div>
    </div>
</div>
