.content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 100%;
}
.totalMessages{
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    gap: 1em;
}
.totalMessages span{
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    text-shadow: 1px 1px 2px #aaa;
}
#chart {
    width: 60%;
    max-width: 80%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px){
    #chart {
        width: 90%;
    }
}

.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;
}
.filter-container span{
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    text-shadow: 1px 1px 2px #aaa;
}